
doctype html
head
  // Required meta tags
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='Colorlib Templates')
  meta(name='author' content='Colorlib')
  meta(name='keywords' content='Colorlib Templates')
  // Title Page
  title Au Register Forms by Colorlib
  // Icons font CSS
  link(href='vendor/mdi-font/css/material-design-iconic-font.min.css' rel='stylesheet' media='all')
  link(href='vendor/font-awesome-4.7/css/font-awesome.min.css' rel='stylesheet' media='all')
  // Font special for pages
  link(href='https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
  // Vendor CSS
  link(href='vendor/select2/select2.min.css' rel='stylesheet' media='all')
  link(href='vendor/datepicker/daterangepicker.css' rel='stylesheet' media='all')
  // Main CSS
  link(href='css/main.css' rel='stylesheet' media='all')
.page-wrapper.bg-gra-02.p-t-130.p-b-100.font-poppins
  .wrapper.wrapper--w680
    .card.card-4
      .card-body
        h2.title Registration Form
        form(method='POST' action='/' id='myform')
          .row.row-space
            .col-2
              .input-group
                label.label first name
                input.input--style-4(type='text' name='first_name')
            .col-2
              .input-group
                label.label last name
                input.input--style-4(type='text' name='last_name')
          .row.row-space
            .col-2
              .input-group
                label.label Birthday
                .input-group-icon
                  input.input--style-4.js-datepicker(type='text' name='birthday')
                  i.zmdi.zmdi-calendar-note.input-icon.js-btn-calendar
            .col-2
              .input-group
                label.label Gender
                .p-t-10
                  label.radio-container.m-r-45
                    | Male
                    input(type='radio' checked='checked' name='gender')
                    span.checkmark
                  label.radio-container
                    | Female
                    input(type='radio' name='gender')
                    span.checkmark
          .row.row-space
            .col-2
              .input-group
                label.label Email
                input.input--style-4(type='email' name='email')
            .col-2
              .input-group
                label.label Phone Number
                input.input--style-4(type='tel' name='phone' pattern="[0-9]{10}" required)
          .input-group
            label.label Subject
            .rs-select2.js-select-simple.select--no-search
              select(name='subject')
                option(disabled='disabled' selected='selected') Choose option
                option Subject 1
                option Subject 2
                option Subject 3
              .select-dropdown
          .p-t-15
            button.btn.btn--radius-2.btn--blue(type='submit' request='POST' id='mysub') Submit
// Jquery JS
script(src='vendor/jquery/jquery.min.js')
// Vendor JS
script(src='vendor/select2/select2.min.js')
script(src='vendor/datepicker/moment.min.js')
script(src='vendor/datepicker/daterangepicker.js')
// Main JS
script(src='js/global.js')
// This templates was made by Colorlib (https://colorlib.com)
// end document
      